footer {
   background: url('../src/images/8.jpg') center/cover;
}

footer.footer-for-home {
   background: linear-gradient(rgb(38, 3, 60), var(--secondary-color));
}

footer .container {
   display: flex;
   justify-content: space-evenly;
   /* padding-bottom: 0.5rem; */
}

footer .contact-link {
   background-color: white;
   color: var(--secondary-color);
   border-radius: 50%;
   height: 2rem;
   width: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* ///////////////////////////// */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
