@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@800&family=Poppins:wght@400;600&display=swap');
@import url('header.css');
@import url('home.css');
@import url('about.css');
@import url('projects.css');
@import url('contacts.css');
@import url('login.css');
@import url('admin.css');
@import url('footer.css');

:root {
   --primary-color: rgb(253 235 253);
   --secondary-color: rgb(93 45 126);
   --border: 1px solid var(--secondary-color);
   --shadow: inset -4px -4px 5px var(--secondary-color);
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background-color: var(--primary-color);
   color: var(--secondary-color);
   font-family: 'Poppins', sans-serif;
}

h1,
h2,
h3 {
   text-align: center;
   margin-bottom: 1.3rem;
   font-weight: 800;
   font-family: 'Playfair Display', serif;
}

h1 {
   font-size: 2.7rem;
}

h2 {
   font-size: 1.9rem;
}

h3 {
   font-size: 1.3rem;
}

p,
a,
label,
input,
textarea,
button {
   font-size: 1rem;
   font-family: 'Poppins', sans-serif;
}

p {
   margin-bottom: 1rem;
   text-align: justify;
}

a {
   text-decoration: none;
   color: white;
}

.hidden {
   display: none;
}

.container {
   width: 100%;
   margin: 0 auto;
   padding: 1.5rem 1.5rem;
}

section {
   min-height: calc(100vh - 48px - 116px);
   display: flex;
   align-items: center;
}

.btn {
   padding: 10px 15px;
   width: 8rem;
   border-radius: 30px;
   border: none;
   box-shadow: inset 0 -4px 5px rgba(44, 44, 44, 0.525);
   background-color: var(--secondary-color);
   color: white;
   cursor: pointer;
}

.btn:active {
   transform: scale(1.15);
   transition: transform 0.5s ease-in-out;
}

/*///////////////////////////////////////////////// */

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
   h1 {
      font-size: 2.7rem;
   }

   h2 {
      font-size: 1.9rem;
   }

   h3 {
      font-size: 1.3rem;
   }

   p,
   a,
   label,
   input,
   textarea,
   button {
      font-size: 1rem;
      font-family: 'Poppins', sans-serif;
   }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
   h1 {
      font-size: 4rem;
   }

   h2 {
      font-size: 2.8rem;
      margin-bottom: 2rem;
   }

   h3 {
      font-size: 2.2rem;
   }

   p,
   a,
   label,
   input,
   textarea,
   button {
      font-size: 1.2rem;
   }

   .btn {
      margin-top: 3rem;
      width: 10rem;
   }
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
   h1 {
      font-size: 5rem;
   }

   h2 {
      font-size: 3.2rem;
      margin-bottom: 2rem;
   }

   h3 {
      font-size: 2.4rem;
   }

   p,
   a,
   label,
   input,
   textarea,
   button {
      font-size: 1.5rem;
   }

   .btn {
      margin-top: 3rem;
      width: 12rem;
   }
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   .container {
      max-width: 1000px;
   }
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
   .container {
      max-width: 1200px;
   }
}
